language: objective-c
osx_image: xcode8
xcode_project: RxHttpClient.xcodeproj

env:
  global:
  #- WORKSPACE=
  - PROJECT=RxHttpClient.xcodeproj
  - FRAMEWORK_SCHEME=RxHttpClient
  - SDK=iphonesimulator9.3
  - DESTINATION_PLATFORM='platform=iOS Simulator,name=iPhone 6,OS=9.3'

before_install:
  - SIMULATOR_ID=$(xcrun instruments -s | grep -o "iPhone 6s (9.3) \[.*\]" | grep -o "\[.*\]" | sed "s/^\[\(.*\)\]$/\1/")

before_script:
# inslall punic
- brew install python
- brew install libyaml
- pip install --upgrade git+https://github.com/schwa/punic.git

- carthage version

# update OHHTTPStubs using carthage
- carthage update OHHTTPStubs --platform iOS
# using punic to build RxSwift framework
- punic build RxSwift --platform iOS --configuration Release

script:
- open -a "simulator" --args -CurrentDeviceUDID $SIMULATOR_ID
#- set -o pipefail && xcodebuild -scheme "$FRAMEWORK_SCHEME" -project "$PROJECT" -sdk "$SDK" -configuration Debug ONLY_ACTIVE_ARCH=YES -destination "$DESTINATION_PLATFORM" GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES clean build  | xcpretty -c
- set -o pipefail && xcodebuild -scheme "$FRAMEWORK_SCHEME" -project "$PROJECT" -sdk "$SDK" -configuration Debug ONLY_ACTIVE_ARCH=YES -destination "$DESTINATION_PLATFORM" -enableCodeCoverage YES GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES clean test  | xcpretty -c

after_success:
  - bash <(curl -s https://codecov.io/bash) -J '^RxHttpClient$'
